
h1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Ubuntu';
}
nav {
  font-size: 15px;
  font-family: monospace;
  margin-left: auto;
  margin-right: auto;
}
.box2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 40%;
}
.nav-item .dropdown-item {
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* li {
  list-style-type: none;
} */
.center {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.dropdown-menu {
  text-align: justify;
}
.myHide {
  display: none;
}
.flex-item {
  padding: 5px;
}
